/* Stylowanie strony Miniprojekt */

/* Reguły ogólne CSS */

:root {
  --adswidth: 200px;
  /* --adswidth: 0; */

  --textON: visible;
  /* --textON: hidden; */
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* img {
  min-width: 30%;
  max-width: 100%;
  height: auto;
} */

.movie {
  width: 100%;
  height: 500px;
}

#container {
  background-color: lightpink;
  max-width: 1210px;
  border: 5px dotted brown;
  box-shadow: 0 0 40px darkgray;
  margin: 0 auto;
}

/* Stylowanie headera czyli logo oraz menu */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15px;
}

nav > ul {
  list-style-type: none;
}
/* poprawa stylowania menu */
nav ul li {
  display: inline-block;
  background-color: #ffdcae;
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
nav ul li:hover {
  background-color: #ced89e;
}
nav ul li a {
  font-size: 18px;
  color: #76ba99;
  padding: 15px;
  text-decoration: none;
  display: block;
  /* border: 5px solid black; */
}

nav ul li a:hover {
  color: whitesmoke;
  border-radius: 20px;
  /* border: 5px solid whitesmoke; */
}

/* Slider */

.slider {
  display: flex;
  background-color: red;
  max-height: 150px;
}

.slider div {
  height: 150px;
  width: calc(100% - var(--adswidth));
}

.slider div img {
  width: 1200px;
  height: 150px;
}

.ads1 {
  width: var(--adswidth);
  height: 150px;
  background-image: url("https://unsplash.it/500/500?image=143");
}

.ads1 div {
  width: var(--adswidth);
}

.ads1 div p {
  visibility: var(--textON);
  color: white;
  text-align: center;
}

.ads1 > img {
  width: 100%;
  height: 100%;
}

/*Stylowanie slider-new */
.slider-new {
  width: 100%;
  max-width: 1200px;
  padding: 20px 0;
  margin: 0 auto;
}
.slider-item {
  position: relative;
  width: 100%;
  height: 150px;
}
.slider-item img {
  display: block;
  transition: opacity 0.5s ease;
}
.slider-item .hover-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffdcae;
  color: #76ba99;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slider-item:hover img {
  opacity: 0;
}

.slider-item:hover .hover-text {
  opacity: 1;
}
/* Main */
main {
  display: flex;
  border-top: 3px dotted black;
}

main div {
  display: flex;
  width: calc(100% - var(--adswidth));
}

article {
  width: 70%;
  padding: 20px;
}

article > img {
  padding-left: 20px;
  padding-right: 40px;
  border: 5px solid black;
}

aside {
  width: 30%;
  padding: 20px;
  background-color: rgb(239, 229, 34);
  border-left: 3px dashed black;
}

.widget {
  margin-bottom: 50px;
}

.widget img {
  float: left;
  padding: 20px;
  border: 5px solid rgb(54, 202, 21);
  margin: 0 20px 5px 0;
  width: 200px;
  height: 200px;
}

.links > ul {
  list-style-type: square;
  padding-left: 20px;
  margin: 0;
}

.links ul li {
  margin-bottom: 10px;
}

/* ads2 */
.ads2 {
  background-color: green;
  display: flex;
}

.ads2 div {
  align-items: center;
  justify-content: center;
  width: var(--adswidth);
}

.ads2 div p {
  writing-mode: vertical-rl;
  visibility: var(--textON);
}

/* footer */

footer {
  border-top: 3px dashed black;
  background-color: #ffdcae;
}

footer p {
  padding: 20px 0;
  text-shadow: 3px 3px darkgray;
  text-align: center;
  margin: 0;
}
/* RWD */
@media (min-width: 768px) and (max-width: 992px) {
  /* CSS rules for screens between 768px and 992px */
  .slider,
  .slider-new {
    flex-direction: row;
    align-items: center;
  }
  .slider div,
  .slider-new .slider-item {
    width: 100%;
  }
  .slider div img,
  .slider-new .slider-item img {
    width: 100%;
    height: 100%;
  }
  .ads2 {
    display: none;
  }
  main > div {
    width: 100%;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  /* CSS rules for screens between 993px and 1200px*/
  .slider,
  .slider-new {
    flex-direction: row;
    align-items: center;
  }
  .slider div,
  .slider-new .slider-item {
    width: 100%;
  }
  .slider div img,
  .slider-new .slider-item img {
    width: 100%;
    height: 100%;
  }
}
